<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <form class="form-control">
        <label for="contact" class="label-control">Enter Your suggestions : </label>
        <textarea  cols="30" rows="15" id="contact" name="contact" class="input-control">
            Suggestions
        </textarea>
        
    </form>
</body>
</html>